@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Qwitcher+Grypen:wght@400;700&display=swap');




body {
    margin: 0;
    padding: 0;
    background-color:#a0d2eb;
    color: white;
    font-size: 2px;
}

header {
    font-family: "Oswald", sans-serif;
    background-color: wheat;
    color: black;
    text-align: center;
    padding: 0px;
    font-size: 12px;

}

footer {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1px;
    margin: 0px;
    font-size: 15px;

}
main{
    padding: 20px;
    font-size: 20px;
}
section{
    background-color:white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
img{
    width: 100%;
    height: auto;
    border-radius: 100px;
}